.personnel .tab-pane{
	padding: 0 25px;
	margin-bottom: 170px;
}
.personnel .personnel-content {
	padding: 15px 0 40px 0 ;
	background: #FFFFFF;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
	margin-bottom: 35px;
}
.personnel .personnel-content .title{
	font-size: 16px;
	color: #333333;
	letter-spacing: 1.45px;
	border-left: 5px solid #632FA3;
	font-weight: bold;
	margin: 0 0 25px 0;
}
.personnel .personnel-content p.fw{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #333333;
	letter-spacing: 1.27px;
	margin: 0 0 13px 0;
	text-align: center;
}
.personnel .personnel-content p:last-child{
	margin: 30px 0 0;
	text-align: center;
	
}
.personnel .personnel-content p:last-child a{
	padding: 8px 35px;
	border: 1px solid #632FA3;
	font-size: 14px;
	color: #632FA3;
	letter-spacing: 1px;
}
